---
title: Linear
layout: default
---

<!-- Main -->
	<div id="main">
		<div class="container"  style="max-width:2000px;width:90%">
			<div class="row">
				{% include sidebar.html %}
				<!-- Content -->
				<div id="main" class = "8u";>
					<header>
						<h2 style="font-size:2.4em;">通告栏</h2>
					</header>
					<div id="content">
						<div id="index" class="container">
						{% for post in site.posts %}
							{% if post.layout == "notice" %}
								<div class="row">
									<section class="12u" style="background : #EEEEEE; marigin:50px;">
										<a href="{{ site.prefix }}{{ post.url }}" class="image full"></a>
										<header>
											<h2 style="font-size:2.4em">{{ post.title }}</h2>
										</header>
										<div id="page_content">
											{{post.content}}
										</div>
									</section>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
<!-- /Main -->
