---
title: Linear
layout: default
---

<!-- Main -->
	<div id="main">
		<div class="container"  style="max-width:2000px;width:80%">
			<div class="row">
				{% include sidebar.html %}
				<!-- Content -->
				<div id="main" class = "8u";>
					<div id="content" class="container">
						{% for post in site.posts %}
							{% if post.layout == "notice" %}
								<div class="row">
									<section class="10u">
										<a href="{{ site.prefix }}{{ post.url }}" class="image full"><img src="/assets/{{ post.featured }}" alt=""></a>
										<header>
											<h2>{{ post.title }}</h2>
										</header>
											{{post.content}}
									</section>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
<!-- /Main -->
